<nav class="navbar">
  <section class="navbar-item centered">
    <div class="popover popover-bottom">
      <!-- logo -->
      <span><a class="site-title" href="{{ "/" | relative_url }}">
        <img src="{% asset_path logo.svg %}" alt="logo" width="320px"/>
      </a><small>.beta</small></span>
      <!-- descripción -->
      <aside class="site-description popover-container">
        <small class="label">
          <span>Una recopilación de publicaciones con apuntes sobre programación y desarrollo web front-end.</span><br>
          <sub>Open Source</sub>
        </small>
      </aside>
    </div>
  </section>
</nav>
