<nav class="navbar">

  <section class="navbar-section">
      <a class="home back-button" href="."></a>
  </section>

  <section class="navbar-center">
    <div class="popover popover-bottom">
      <!-- logo -->
      <span><a class="site-title" href="{{ "/" | relative_url }}">
        <img src="{% asset_path logo.svg %}" alt="logo" width="320px"/>
      </a><small>.beta</small></span>
      <!-- descripción -->
      <aside class="site-description popover-container">
        <small class="label">
          <span>Una recopilación de publicaciones con apuntes sobre programación y desarrollo web front-end.</span><br>
          <sub>Open Source</sub>
        </small>
      </aside>
    </div>
  </section>

  <section class="navbar-section">
    {% if page.layout contains 'post' %}
    <span class="chip">
      <img src="{% asset_path svgicons/github.svg %}" alt="Editar en GitHub" width="14px" />
        <a class="tooltip tooltip-bottom" href="{{site.gh_repo}}blob/master/{{ page.path | remove: '.html' }}" data-tooltip="Edita esta página en GitHub" role="button">Editar</a>
    </span>
    {% endif %}
  </section>

</nav>
