<style>
  .page-item-title {text-align: right}
</style>

<section class="aleatorio container">
  <div class="divider"></div>
  <ul class="pagination">
    <li class="page-item page-next">
      <a id="randomize">
        <p class="page-item-subtitle">Cheatsheet</p>
        <h4 class="page-item-title"></h4>
      </a>
    </li>
  </ul>
</section>



<!-- Post Aleatorio (mhm...) -->
<script type="text/javascript">
    // Array of urls and titles
    var postsURI = [{% for post in site.posts %}"{{ post.url | absolute_url }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
    var postsTitle = [{% for post in site.posts %}"{{ post.title }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
</script>
<script type="text/javascript">

    var randomIndexUsed = [];
    var counter = 0;
    var numberOfPosts = 1; // Número de elementos a mostrar

    while (counter < numberOfPosts)
    {
        var randomIndex;
        var postURI;
        var postTitle;

        randomIndex = Math.floor(Math.random() * postsURI.length);

        if (randomIndexUsed.indexOf(randomIndex) == "-1")
        {
            postURI = postsURI[randomIndex];
            postTitle = postsTitle[randomIndex];

            if (counter == (numberOfPosts - 1))
            {
                document.getElementById("randomize").href = postURI;
                document.getElementsByClassName("page-item-title")[0].innerHTML = postTitle;
            }

            randomIndexUsed.push(randomIndex);
            counter++;
        }
    }
</script>