<section class="enlaces container grid-960">
  <div class="columns">

    <div class="column col-4 col-sm-12">
          <div class="card">
              <header class="card-header">
                <div class="card-title">Acerca de</div>
              </header>

              <section class="card-body">

              </section>

              <div class="card-footer">

              </div>
          </div>
    </div>








    <!-- Star -->
    <div class="column col-4 col-sm-12">
        <div class="card">
            <header class="card-header">
              <div class="card-title">♥</div>
            </header>

            <section class="card-body">
              Gracias por apoyar este proyecto y compartirlo con tanto ♥
            </section>

            <footer class="card-footer">
              <a href="{{ site.gh_repo }}" class="btn btn-primary" target="_blank">★ Star</a>
            </footer>
        </div>
      </div>


      <!-- Contrib. -->
      <div class="column col-4 col-sm-12">
          <div class="card">
              <header class="card-header">
                <div class="card-title">Contribuciones</div>
              </header>

              <section class="card-body">
                Es estupendo recibir apoyo con el desarrollo de este proyecto a través del repositorio de <a href="{{ site.gh_repo }}blob/master/docs/CONTRIBUTING.md">GitHub</a>.
              </section>

              <footer class="card-footer">
                <a href="{{ "/contribuciones" | relative_url }}" class="btn btn-primary">Enviar contenido</a>
              </footer>
          </div>
        </div>


  </div>
</section>
