<section class="enlaces container grid-960">
  <div class="columns">

    <!-- Acerca de -->
    <div class="column col-4 col-md-5 col-sm-12">
      <div class="card">
          <header class="card-header">
            <div class="card-title">Front-end</div>
            <div class="card-subtitle text-italic">c h e a t s h e e t s</div>
          </header>

          <section class="card-body">
            <p>Una colección de publicaciones sobre nuevas <b>tecnologías</b>, lenguajes de <b>programación</b> y desarrollo web <b>front-end</b>.</p>

          </section>

          <footer class="card-footer autor">
              <span>🎩</span>
            <div class="card-subtitle">Mantenido por <a href="{{site.gh_autor}}">@whoisjorge</a> </div>
          </footer>
      </div>
    </div>

    <!-- Contrib. -->
    <div class="column col-6 col-md-7 col-sm-12">
      <div class="card">
          <header class="card-header">
            <div class="card-title">Desarrollo colaborativo</div>
            <div class="card-subtitle">Contribuye con un proyecto de código abierto </div>
          </header>

          <section class="card-body">
            <p>Agradecimientos especiales a todos aquellos <a href="{{ site.gh_repo }}contributors">desarrolladores</a> que, mediante sus contribuciones, hacen de este proyecto un recurso verdaderamente valioso.</p>
          </section>

          <footer class="card-footer">
            <a href="{{ "/contribuye" | relative_url }}" class="btn btn-primary">Contribuye</a>
            <a href="{{ site.gh_repo }}blob/master/docs/CONTRIBUTING.md" class="btn">Desarrollo</a>
          </footer>
      </div>
    </div>




    <!-- Star -->
    <div class="star column star col-2 col-md-12">
        <div class="card">
            <section class="card-body">
                <a href="{{ site.gh_repo }}" class="btn btn-rainbow" target="_blank">&nbsp;★ Star &nbsp;</a>
            </section>
        </div>
      </div>



  </div>
</section>
