<hr class="disqus">

<section class="enlaces container grid-960">
  <div class="columns">

    <!-- Acerca de -->
    <div class="column col-5 col-md-5 col-sm-12">
      <div class="card">
          <header class="card-header">
            <div class="card-title">Front-end</div>
            <div class="card-subtitle text-italic">c h e a t s h e e t s</div>
          </header>

          <section class="card-body">
            <p>Una colección de publicaciones sobre nuevas <b>tecnologías</b>, lenguajes de <b>programación</b> y desarrollo web <b>front-end</b>.</p>

          </section>

          <footer class="card-footer autor">
              <span>🎩</span>
            <div class="card-subtitle">Mantenido por <a href="{{site.gh_autor}}">@whoisjorge</a> </div>
          </footer>
      </div>
    </div>

    <!-- Contrib. -->
    <div class="column col-7 col-md-7 col-sm-12">
      <div class="card">
          <header class="card-header">
            <div class="card-title">Desarrollo colaborativo</div>
            <div class="card-subtitle">Contribuye con un proyecto de código abierto </div>
          </header>

          <section class="card-body">
            <p>👋 <b>¡Hey!</b> En primer lugar gracias por plantearte contribuir a este proyecto con tus conocimientos. Gracias a otros <a href="{{ site.gh_repo }}contributors">desarrolladores</a> como tú, este sitio es un recurso verdaderamente valioso para la comunidad.</p>
          </section>

          <footer class="card-footer">
            <a href="{{ "/contribuye" | relative_url }}" class="btn btn-primary">Contenido</a>
            <a href="{{ site.gh_repo }}blob/master/.github/CONTRIBUTING.md" class="btn">Desarrollo</a>
          </footer>
      </div>
    </div>

  </div>
</section>
