<section class="enlaces container grid-960">
  <div class="columns">

    <!-- About -->
    <div class="column col-4 col-sm-12">
      <div class="card">

        <header class="card-header">
          <div class="card-title">Front-end</div>
          <div class="card-subtitle text-italic">c h e a t s h e e t s</div>
        </header>

        <section class="card-body">
          <p>Una colección de publicaciones sobre nuevas <b>tecnologías</b>, lenguajes de <b>programación</b> y desarrollo web <b>front-end</b>.</p>
          <span>🎩</span>
        </section>

        <footer class="card-footer">
          <div class="card-subtitle">Mantenido por <a href="{{site.gh_autor}}">whoisjorge</a> </div>
        </footer>

      </div>
    </div>



      <!-- Contrib. -->
      <div class="column col-5 col-sm-12">
          <div class="card">
              <header class="card-header">
                <div class="card-title">Desarrollo colaborativo</div>
                <div class="card-subtitle">Contribuye con un proyecto para la comunidad </div>
              </header>

              <section class="card-body">
                <p>Es estupendo recibir apoyo con el desarrollo de este proyecto a través del repositorio de <a href="{{ site.gh_repo }}blob/master/docs/CONTRIBUTING.md">GitHub</a>.</p>
              </section>

              <footer class="card-footer">
                <a href="{{ "/contribuyendo" | relative_url }}" class="btn btn-primary">Contribuye</a>
              </footer>
          </div>
        </div>









    <!-- Star -->
    <div class="column col-3 col-sm-12">
      <div class="card">
          <header class="card-header">
              <div class="card-title">Valora la iniciativa</div>
           </header>

          <section class="card-body">
            ¡Dale soporte a este proyecto con todo tu ♥ desde GitHub!

          </section>

          <footer class="card-footer">
              <a href="{{ site.gh_repo }}" class="btn btn-rainbow" target="_blank">&nbsp;★ Star &nbsp;</a>
          </footer>

      </div>
    </div>









  </div>
</section>
