---
layout: default
---

{% assign categoria = page.category %}

<article class="categoria">

  <header>
    <p class="pre -apuntes"><span></span></p>
    <img src="{% asset_path svgicons/{{categoria}}.svg %}" alt="{{page.title}} logo" width="88px"/>
    <h1 class="cat-title">{{ page.title }}</h1>
  </header>

{% if site.posts %}
  <section class='post-index -cat'>
    <table class="table">
      <tbody>
      {% for post in site.categories[categoria] %}
        <tr>
          <td>
            <a class='post-index-item' href="{{ post.url | relative_url }}">
              <span class='article'>{{ post.title }}</span>
            </a>
          </td>
          <td class="tag" align="right">{{ post.tags | first }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endif %}
</article>
