---
layout: default
---

<article class="sitemap">

  <header>
    <p class="pre -sitemap"><span></span></p>
    <h1>{{ page.title }}</h1>
  </header>

  <pre class="robots">🤖 Porque los <a href="{{ "/sitemap.xml" | relative_url }}">Robots</a> también tienen derecho... </pre>


<!-- Otro cutre-hack: en este caso elimina el primer <li> en blanco que se genera POR ALGÚN MOTIVO -->
  <style>
  ul > li:first-child {display:none} li {border-bottom: none!important}
  </style>
<!-- end cutre-hack -->


  <section class="content">
    {% for category in site.categories %}
      <strong name="{{ category | first }}">{{ category | first }}</strong>
      <ul>
        {% for posts in category %}
          {% for post in posts %}
            <li><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endfor %}
    <section>

</article>
